<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">

<head th:insert="~{usuario/template_user.html::head}"></head>

<body class="index-page">

	<div th:insert="~{usuario/template_user.html::header}" th:if="${sesion == null}"></div>
	<div th:insert="~{usuario/template_user.html::usuarioCabecera}" th:unless="${sesion == null}"></div>

	<section><!--buscador--></section>

	<main class="main">
		<div class="container">

			<h1 class="mt-4 mb-3">Spring eCommerce <small>Carrito de compras</small></h1>

			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item active">Carrito</li>
			</ol>


			<div class="card mb-4">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-9">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Producto</th>
										<th scope="col">Precio</th>
										<th scope="col">Cantidad</th>
										<th scope="col">Total</th>
										<th scope="col">Acción</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="dorden:${cart}">
										<td th:text="${dorden.nombre}"></td>
										<td th:text="${#strings.concat('$', #numbers.formatDecimal(dorden.precio, 0,'POINT',0,'POINT'))}"> </td>
										<td th:text="${dorden.cantidad}"></td>
										<td th:text="${#strings.concat('$', #numbers.formatDecimal(dorden.total, 0,'POINT',0,'POINT'))}"></td>
										<td><a th:href="@{/delete/cart/{id} (id=${dorden.producto.id})}"
												class="btn btn-danger">Quitar</a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-lg-3">
							<h2 class="card-title">SUBTOTAL</h2>
							<ul class="list-group">
								<li class="list-group-item">
									<h5 th:text="${#strings.concat('$', #numbers.formatDecimal(orden.total, 0,'POINT',0,'POINT'))}"></h5>
								</li>
								<a th:href="@{/order}" class="btn btn-dark">ver orden</a>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>

	<div th:insert="~{usuario/template_user.html::footer}"></div>

	<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div id="preloader"></div>

	<div th:insert="~{usuario/template_user.html::jsFiles}">

	</div>

</body>

</html>