<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">

<head th:insert="~{usuario/template_user.html::head}"></head>

<body class="index-page">

	<div th:insert="~{usuario/template_user.html::header}" th:if="${sesion == null}"></div>
	<div th:insert="~{usuario/template_user.html::usuarioCabecera}" th:unless="${sesion == null}"></div>

	<section>
	<br>
	<div class="container" th:insert="~{usuario/template_user.html::search}">
		
	</div>
	</section>

	<main class="main">
		<div class="container">
			<header class="jumbotron my-4">
				<h1 class="display-3">Bienvenido a Spring eCommerce</h1>
				<p class="lead">Tienda de productos en linea</p>
			</header>

			<div class="row text-center">
				<div class="col-lg-3 col-md-6 mb-4" th:each="producto: ${productos}">
					<div class="card h-100">
						<img class="card-img-top" th:src="@{/images/{img} (img=${producto.imagen})}"
							th:alt="${producto.nombre}">
						<div class="card-body">
							<p class="card-text" th:text="${producto.nombre}"></p>
						</div>
						<div class="card-footer">
							<a th:href="@{/productoHome/{id} (id=${producto.id})}" class="btn btn-success">Ver
								producto</a>

						</div>
					</div>
				</div>
			</div>

		</div>
	</main>

	<div th:insert="~{usuario/template_user.html::footer}"></div>

	<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div id="preloader"></div>

	<div th:insert="~{usuario/template_user.html::jsFiles}">

	</div>

</body>

</html>