<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">

<head th:insert="~{usuario/template_user.html::head}"></head>

<body class="index-page">

	<div th:insert="~{usuario/template_user.html::header}" th:if="${sesion == null}"></div>
	<div th:insert="~{usuario/template_user.html::usuarioCabecera}" th:unless="${sesion == null}"></div>

	<section><!--buscador--></section>

	<main class="main">
		<div class="container">

			<h1 class="mt-4 mb-3">Spring eCommerce <small>Producto</small></h1>

			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item active">Producto</li>
			</ol>


			<div class="card mb-4">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-6">
							<a href="#"><img class="img-fluid rounded"
									th:src="@{/images/{img} (img=${producto.imagen})}" th:alt="${producto.nombre}"></a>
						</div>
						<div class="col-lg-6">
							<form action="#" method="post">
								<input type="hidden" th:value="${producto.id}" name="id">
								<h2 class="card-title" th:text="${producto.nombre}"></h2>
								<ul class="list-group">
									<li class="list-group-item">
										<h5
											th:text="'Precio: ' + ${#strings.concat('$', #numbers.formatDecimal(producto.precio, 0,'POINT',0,'POINT'))}">
										</h5>
									</li>
									<li class="list-group-item">
										<p th:text="'Descripción: ' + ${producto.descripcion}"></p>
									</li>
									<li class="list-group-item">
										<h6>
											Cantidad: <input type="number" id="cantidad" name="cantidad"
												autocomplete="off" min="1" th:max="${producto.cantidad}" value="1">
										</h6>
									</li>
								</ul>
								<button type="submit" class="btn btn-dark">Añadir al carrito</button>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>

	<div th:insert="~{usuario/template_user.html::footer}"></div>

	<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div id="preloader"></div>

	<div th:insert="~{usuario/template_user.html::jsFiles}">

	</div>

</body>

</html>