<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">

<head th:insert="~{usuario/template_user.html::head}"></head>

<body class="index-page">

	<div th:insert="~{usuario/template_user.html::header}" th:if="${sesion == null}"></div>
	<div th:insert="~{usuario/template_user.html::usuarioCabecera}" th:unless="${sesion == null}"></div>



	<main class="main">
		<div class="container">
			<header class="jumbotron my-4">
				<h1 class="display-3">Registro de Usuario</h1>
				<p class="lead">Resgistre sus Datos</p>
			</header>

			<from th:action="@{/usuario/save}" method="post" class="">
				<div class="form-group">
					<label for="nombre">Nombres:</label>
					<input type="text" class="form-control" id="nombre" name="nombre" required
						placeholder="Ingrese sus nombres" autocomplete="off">
				</div>
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" class="form-control" id="email" name="email" required
						placeholder="Ingrese su correo electrónico" autocomplete="off">
				</div>
				<div class="form-group">
					<label for="direccion">Dirección:</label>
					<input type="text" class="form-control" id="direccion" name="direccion" required
						placeholder="Ingrese su direccion" autocomplete="off">
				</div>
				<div class="form-group">
					<label for="password">Contraseña:</label>
					<input type="password" class="form-control" id="password" name="password" required
						placeholder="Ingrese su contraseña" autocomplete="off">
				</div>
				<div class="col-sm-2">
					<button type="submit" class="btn btn-success">Guardar</button>
				</div>

			</from>

		</div>
	</main>

	<div th:insert="~{usuario/template_user.html::footer}"></div>

	<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div id="preloader"></div>

	<div th:insert="~{usuario/template_user.html::jsFiles}">

	</div>

</body>

</html>