<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">

<head th:insert="~{usuario/template_user.html::head}"></head>

<body class="index-page">

	<div th:insert="~{usuario/template_user.html::header}" th:if="${sesion == null}"></div>
	<div th:insert="~{usuario/template_user.html::usuarioCabecera}" th:unless="${sesion == null}"></div>

	<section><!--buscador--></section>

	<main class="main">
		<div class="container">

			<h1 class="mt-4 mb-3">Spring eCommerce <small>Producto</small></h1>

			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item active">Producto</li>
			</ol>


			<div class="card mb-4">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-9">
							<div class="card-body">
								<h5 class="card-title">DATOS ORDEN</h5>
								<br>
								<h6 th:text="'Nombre: ' + ${usuario.nombre}"></h6>
								<h6 th:text="'Correo: ' + ${usuario.email}"></h6>
								<h6 th:text="'Direccion: ' + ${usuario.direccion}"></h6>
								<br>
								<h5 class="card-title">PRODUCTOS</h5>
								<div class="alert alert-light" role="alert">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">Producto</th>
												<th scope="col">Precio</th>
												<th scope="col">Cantidad</th>
												<th scope="col">Total</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="dtorden:${cart}">
												<td th:text="${dtorden.nombre}"></td>
												<td th:text="${#strings.concat('$',#numbers.formatDecimal(dtorden.precio, 0, 'POINT',0, 'POINT'))}"></td>
												<td th:text="${dtorden.cantidad}"></td>
												<td th:text="${#strings.concat('$',#numbers.formatDecimal(dtorden.total, 0, 'POINT',0, 'POINT'))}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						
						<div class="col-lg-3">
							<h2 class="card-title">Resumen Orden</h2>
							<ul class="list-group">
								<li class="list-group-item">
									<h5 th:text="'Total: ' + ${#strings.concat('$', #numbers.formatDecimal(orden.total, 0, 'POINT',0, 'POINT'))}"></h5>
								</li>
								<a th:href="@{saveOrder}" class="btn btn-dark">Generar</a>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>

	<div th:insert="~{usuario/template_user.html::footer}"></div>

	<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div id="preloader"></div>

	<div th:insert="~{usuario/template_user.html::jsFiles}">

	</div>

</body>

</html>